{% load static %}

<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet", href="{% static 'project_base.css' %}">
    <link rel="stylesheet", href="{% static 'calc_profit_page.css' %}">

    <script>
        function create() {
            var par = document.querySelector("form.forms");
            var add = document.createElement("h2");
            add.appendChild(document.createTextNode("testik"));
            par.appendChild(add);
        }
        
        function inc() {
            var inp = document.querySelector("input[name='cnt']");
            el.value = parseInt(el.value) + 1;
            // alert(el.value);
        }

        function on_page_init() {
            var inp = document.querySelector("input[name='form-0-cnt']");
            inp.value = "{{cnt}}";
            inp = document.querySelector("input[name='electricity']");
            inp.value = "{{elec}}";

            for (let i = 0; i < "{{cnt}}"; i++) {
                var q = "input[name='form-" + String(i) +"-quantity']";
                var v = document.querySelector(q);
                if (v.value == "") v.value = "1";
            }
        }

        function restore_types(i, val) {
            var q = "select[name='form-" + String(parseInt(i) - 1) +"-cards']";
            var v = document.querySelector(q);
            v.value = val;
        }

        function restore_quantities(i, val) {
            // alert(i);
            var q = "input[name='form-" + String(parseInt(i) - 1) +"-quantity']";
            var v = document.querySelector(q);
            v.value = val;
        }
    </script>
</head>
<body onload="on_page_init()">
    <a class="a1" id="back_btn" href="/">Назад</a>
    <h1 id="mp_header">Расчет доходности вашей конфигурации</h1>
    <div>
        <form class="forms" method="POST">
            <div id="extraforms">
                <label>Цена электроэнергии, $/kWh</label>
                <input type="number" step="0.00001" name="electricity">
            </div>
            
            {% csrf_token %}
            {% for el in forms %}
                <div class="form">
                    {{el}}
                    <button type="submit" name="del {{forloop.counter}}" id="del_card_btn">✕</button>
                    <br>
                </div>
                
            {% endfor %}
            <button name="inc" type="submit" onclick="inc()" class="trans_btn">Добавить карту</button>
            <br>
            <button name="sbm" class="beautiful_btn" type="submit">Рассчитать</button>
        </form>

        <br>
        <br>


        <h2 id="mp_header">Таблица прибыли</h2>
        <div class="profit_tbl">
            <div class="profit_tbl_row">
                <div class="profit_tbl_col">
                    Монета
                </div>
                <div class="profit_tbl_col">
                    Хешрейт фермы
                </div>
                <div class="profit_tbl_col">
                    Доход, 24ч | 30д
                </div>
                <div class="profit_tbl_col">
                    Потребление электроэнергии, 24ч | 30д
                </div>
                <div class="profit_tbl_col">
                    Прибыль, 24ч | 30д
                </div>
                <div class="profit_tbl_col">
                    Параметры разгона
                </div>
            </div>
            {% for val in profit %}
                <div class="profit_tbl_row">
                    <div class="profit_tbl_col">
                            {{val.coin}}
                        </div>
                        <div class="profit_tbl_col">
                            {{val.hsh}}
                        </div>
                        <div class="profit_tbl_col" id="mulcol">
                            <div id="c1">{{val.prf_coin}}</div>
                            <div id="c3">{{val.mnh_prf_coin}}</div>
                            <div id="c2">{{val.prf_usd}}</div>
                            <div id="c4">{{val.mnh_prf_usd}}</div>
                        </div>
                        <div class="profit_tbl_col" id="mulcol">
                            <div id="c1">{{val.pwr_cons}}</div>
                            <div id="c3">{{val.mnh_pwr_cons}}</div>
                            <div id="c2">{{val.pwr_cons_usd}}</div>
                            <div id="c4">{{val.mnh_pwr_cons_usd}}</div>
                        </div>
                        <div class="profit_tbl_col" id="mulcol">
                            <div id="c1">{{val.clear_prf_coin}}</div>
                            <div id="c3">{{val.mnh_clear_prf_coin}}</div>
                            <div id="c2">{{val.clear_prf_usd}}</div>
                            <div id="c4">{{val.mnh_clear_prf_usd}}</div>
                        </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <h2 id="mp_header">Таблица прибыли при дуал-майнинге</h2>
        <div class="profit_tbl">
            <div class="profit_tbl_row">
                <div class="profit_tbl_col">
                    Монета
                </div>
                <div class="profit_tbl_col">
                    Хешрейт фермы
                </div>
                <div class="profit_tbl_col">
                    Доход, 24ч | 30д
                </div>
                <div class="profit_tbl_col">
                    Потребление электроэнергии, 24ч | 30д
                </div>
                <div class="profit_tbl_col">
                    Прибыль, 24ч | 30д
                </div>
                <div class="profit_tbl_col">
                    Параметры разгона
                </div>
            </div>
            {% for val in duals %}
                <div class="profit_tbl_row">
                    <div class="profit_tbl_col">
                        {{val.par}}
                    </div>
                    <div class="profit_tbl_col" id="mulcol">
                        <div id="c1">{{val.name.0}}:</div>
                        <div id="c3">{{val.name.1}}:</div>
                        <div id="c2">{{val.par_spl.0}} Mh/s</div>
                        <div id="c4">{{val.par_spl.1}} Mh/s</div>
                    </div>
                    <div class="profit_tbl_col" id="mulcol">
                        <div id="c1">В день:</div>
                        <div id="c3">В месяц:</div>
                        <div id="c2">{{val.prf_usd}} $</div>
                        <div id="c4">{{val.mnh_prf_usd}} $</div>
                    </div>
                    <div class="profit_tbl_col" id="mulcol">
                        <div id="c1">{{val.pwr_cons}} kWh</div>
                        <div id="c3">{{val.mnh_pwr_cons}} kWh</div>
                        <div id="c2">{{val.pwr_cons_usd}} $</div>
                        <div id="c4">{{val.mnh_pwr_cons_usd}} $</div>
                    </div>
                    <div class="profit_tbl_col" id="mulcol">
                        <div id="c1">В день:</div>
                        <div id="c3">В месяц:</div>
                        <div id="c2">{{val.clear_prf_usd}} $</div>
                        <div id="c4">{{val.mnh_clear_prf_usd}} $</div>
                    </div>
                    <div class="profit_tbl_col" id="mulcol">
                        <div id="c1">dual intensity</div>
                        <div id="c3"></div>
                        <div id="c2">{{val.di}}</div>
                        <div id="c4"></div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- {{prices}} -->
        <br>
        <h2 id="mp_header">Рентабельность</h2>
        {% for item in prices.items %}
            <div><strong>{{item.0}}</strong> : от {{item.1.0}} рублей. <a class="beautiful_btn" href="{{item.1.1}}" target="_blank">Купить</a></div>
            <br>
            {% endfor %}
        
        {% for type in form_vals %}
            <script>restore_types("{{forloop.counter}}", "{{type}}")</script>
        {% endfor %}
        {% for quant in form_quant %}
            <script>restore_quantities("{{forloop.counter}}", "{{quant}}")</script>
        {% endfor %}
    </div>
</body>