{% load static %}

<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet", href="{% static 'project_base.css' %}">

    <script>
        function create() {
            var par = document.querySelector("form.forms");
            var add = document.createElement("h2");
            add.appendChild(document.createTextNode("testik"));
            par.appendChild(add);
        }
        
        function inc() {
            var inp = document.querySelector("input[name='cnt']");
            el.value = parseInt(el.value) + 1;
            // alert(el.value);
        }

        function on_page_init() {
            var inp = document.querySelector("input[name='form-0-cnt']");
            // alert(inp.name);
            inp.value = "{{cnt}}";

            for (let i = 0; i < "{{cnt}}"; i++) {
                var q = "input[name='form-" + String(i) +"-quantity']";
                var v = document.querySelector(q);
                if (v.value == "") v.value = "1";
            }
        }

        function restore_types(i, val) {
            // alert(i);
            var q = "select[name='form-" + String(parseInt(i) - 1) +"-cards']";
            var v = document.querySelector(q);
            v.value = val;
            // alert(i + " " + val + " " + q);
        }

        function restore_quantities(i, val) {
            // alert(i);
            var q = "input[name='form-" + String(parseInt(i) - 1) +"-quantity']";
            var v = document.querySelector(q);
            v.value = val;
            // alert(i + " " + val + " " + q);
        }
    </script>
</head>
<body onload="on_page_init()">
    <a class="a1" id="back_btn" href="/">Назад</a>
    <h1 id="mp_header">Расчет доходности вашей конфигурации</h1>
    <div>
        <form class="forms" method="POST">
            {% csrf_token %}
            <!-- <input class="cnt" type="integer" value="1"> -->
            {% for el in forms %}
                <div class="form">
                    <button type="submit" name="del {{forloop.counter}}" id="del_card_btn">✕</button>
                    {{el}}
                    <br>
                </div>
                
            {% endfor %}
            <button name="inc" type="submit" onclick="inc()" class="trans_btn">Добавить карту</button>
            <br>
            <button name="sbm" type="submit">go</button>
        </form>
        
        {% for type in form_vals %}
            <script>restore_types("{{forloop.counter}}", "{{type}}")</script>
        {% endfor %}
        {% for quant in form_quant %}
            <script>restore_quantities("{{forloop.counter}}", "{{quant}}")</script>
        {% endfor %}
    </div>
</body>