{% load static %}

<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet", href="{% static 'project_base.css' %}">
</head>
<body>
    <h1 id="mp_header">HowToMine</h1>

    <div class="mp_main_cont">
        <div class="mp_sect1">
            <a class="mp_a a1" id="c1" href="/builder">
                <h5>Подбор оборудования</h5>
                <p>Предоставим лучший вариант исходя из вашего бюджета</p>
            </a>
            <a class="mp_a a1" id="c2" href="/calc">
                <h5>Рассчитать доходность фермы на видеокартах</h5>
                <p>Рассчитаем доходность и окупаемость вашей конфигурации</p>
            </a>
            <a class="mp_a a1" id="c3" href="/calc_asics">
                <h5>Рассчитать доходность фермы асиков</h5>
                <p>Рассчитаем доходность и окупаемость вашей конфигурации</p>
            </a>
            <a class="mp_a a1" id="c4" href="">
                <h5>Просмотр магазинов</h5>
                <p>Покажем, где можно купить оборудование</p>
            </a>
            <a class="mp_a a1" id="c5" href="">
                <h5>Карта майнинг-отелей</h5>
                <p>Отметим на карте лучшие майнинг-отели</p>
            </a>
        </div>
        <div>
            <div id="mp_desc">
                <h4>
                    О проекте
                </h4>
                <p>
                    описание проекта TODO
                </p>
            </div>
        </div>
    </div>
    
    
</body>