{% load static %}

<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet", href="{% static 'project_base.css' %}">
</head>
<body>
    <a class="a1" id="back_btn" href="/">Назад</a>
    <!-- {% static 'project_base.css' %} -->
    <h1 id="mp_header">Подбор конфигурации по бюджету</h1>
    {{cards}}
</body>