{% load static %}

<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet", href="{% static 'project_base.css' %}">
</head>
<body>
    <div>
        <a class="a1" id="back_btn" href="/">Назад</a>
        <!-- {% static 'project_base.css' %} -->
        <h1 id="mp_header">Подбор конфигурации по бюджету</h1>
        <form class="forms" method="POST">
            <div class="form">
                <label>Цена электроэнергии, $/kWh</label>
                <input type="number" step="0.00001" name="electricity" value="0.1">
            </div>
            <div class="form">
                <label>Бюджет, $</label>
                <input type="number" step="1" name="budget" value="1000">
            </div>
            <div class="form">
                <label>Макс. количество карт (0, если неважно)</label>
                <input type="number" step="1" name="cnt" value="0" min="0">
            </div>
            
            {% csrf_token %}
            <button name="sbm" class="beautiful_btn" type="submit">Рассчитать</button>
        </form>
    </div>
    
    {{cards}}
</body>