{% load static %}

<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet", href="{% static 'project_base.css' %}">
</head>
<body>
    <div>
        <a class="a1" id="back_btn" href="/">Назад</a>
        <h1 id="mp_header">Список видеокарт и асиков</h1>
        <!-- {{vcards_list}} -->
        <div id="diver">
            <div id="shops_list">
            {% for el in vcards_list.items %}
                <div class="card">
                    {{el.0}}
                    <br>
                    {% if el.1 == '-' %}
                        Нет в наличии
                    {% else %}
                        <p>от {{el.1.0}} $</p>
                        <a class="beautiful_btn" href="{{el.1.1}}" target="_blank">Купить можно тут</a>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
            <div>
                <div id="params">
                    <h4>Параметры сортировки</h4>
                </div>
            </div>
        </div>
    </div>
</body>