input {
    border-radius: 10px;
    border: none;
    width: fit-content;
    padding: 5px;
    margin-left: 10px;
    background-color: #474747;
    color: white;
}

#id_form-0-electricity {
    display: block;
    margin-bottom: 10px;
}
label {
    margin: 0px;
}

#extraforms {
    margin-bottom: 10px;
}