body {
    padding: 40px;
    background-color: #0a0a0a;
    color: white;
}

#mp_header {
    padding-left: 3%;
}

.mp_main_cont {
    /* size and grid settings */
    width: 100%;
    display:grid;
    /* grid-template-areas: 
        "1 2"
    ; */
    grid-template-columns: 70% 1fr;
}

.mp_sect1 {
    /* size and grid settings */
    /* grid-area: 1; */
    /* width: 100%; */
    display:grid;
    grid-template-areas: 
        "A A B B C C"
        "D D D E E E"
    ;
}

#c1 {grid-area: A;}
#c2 {grid-area: B;}
#c3 {grid-area: C;}
#c4 {grid-area: D;}
#c5 {grid-area: E;}

/* a {
    display: block;
} */

.mp_a {    
    /* size settings */
    display: block;
    width: auto;
    height: 15vw;
    margin: 10px;
    padding: 20px;


    /* block style settings */
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7); */
}

.a1 {
    /* color scheme */
    border-radius: 10px;
    background-color: #333333;

    /* text settings */
    color: white;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}

.a1:hover {
    /* text settings */
    color: #073b4c;
    background-color: #cccccc;
    /* block style settings */
    /* box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5); */
    
    transition: .5s;
}

#mp_desc {
    padding-left: 10%;
    padding-right: 10%;
}

#back_btn {
    width: fit-content;
    display: block;
    height: auto;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    margin-left: 3vw;
    /* background-color: #333333; */
}

button {
    text-align: center;
    vertical-align: middle;
}

#del_card_btn {
    background-color: transparent;
    border: none;
    color: red;
}

select, option {
    padding: 10px;
    min-width: fit-content;
    width: 30%;
    background-color: #333333;
    border-radius: 10px;
    color: white;
    border: none;
    transition: 0.5s;
}

option:hover {
    color: #073b4c;
    background-color: #cccccc;
    transition: 0.5s;
}

.forms {
    margin-top: 30px;
}

.form {
    margin-bottom: 10px;
}

.trans_btn {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 2%;
    border: none;
    background-color: transparent;
    color: white;
    transition: .5s;
}

.trans_btn:hover {
    color: lightgreen;
    transition: .5s;
}

.profit_tbl {
    /* border: 3px solid #cccccc; */
    background-color: #333333;
}

.profit_tbl_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 0.01px solid #0a0a0a;
}

.profit_tbl_col {
    /* text-align: center; */
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0.05px solid #0a0a0a;
}

.beautiful_btn {
    margin-left: 2%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #333333;
    color: white;
    transition: .5s;
}

.beautiful_btn:hover {
    background-color: #cccccc;
    color: #333333;
    transition: .5s;
}