body {
    padding: 40px;
    background-color: #0a0a0a;
    color: white;
    font-family: 'Fira Code';
    font-size: small;
}

#mp_header {
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 1.8%;
}

.mp_main_cont {
    /* size and grid settings */
    width: 100%;
    display:grid;
    /* grid-template-areas: 
        "1 2"
    ; */
    grid-template-columns: 70% 1fr;
}

.mp_sect1 {
    /* size and grid settings */
    /* grid-area: 1; */
    /* width: 100%; */
    display:grid;
    grid-template-areas: 
        "A B"
        "C D"
    ;
}

#c1 {grid-area: A;}
#c2 {grid-area: B;}
#c3 {grid-area: C;}
#c4 {grid-area: D;}
#c5 {grid-area: E;}

/* a {
    display: block;
} */

.mp_a {    
    /* size settings */
    display: block;
    width: auto;
    height: 15vw;
    margin: 10px;
    padding: 20px;


    /* block style settings */
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7); */
}

.a1 {
    /* color scheme */
    border-radius: 5px;
    background-color: #333333;

    /* text settings */
    color: white;
    text-align: center;
    text-decoration: none;
    transition: .3s;
}

.a1:hover {
    /* text settings */
    color: #073b4c;
    background-color: white;
    /* block style settings */
    /* box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5); */
    
    transition: .3s;
}

#mp_desc {
    padding-left: 10%;
    padding-right: 10%;
}

#just_text {
    padding-left: 2%;
}

#id_form-0-electricity {
    display: block;
    margin-bottom: 10px;
}
label {
    margin: 0px;
}

#extraforms {
    margin-bottom: 10px;
    margin-left: 2%;
}

input {
    border-radius: 5px;
    border: none;
    width: fit-content;
    padding: 5px;
    margin-left: 10px;
    background-color: #474747;
    color: white;
}

#back_btn {
    width: fit-content;
    display: block;
    height: auto;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    margin-left: 2%;
    /* background-color: #333333; */
}

button {
    text-align: center;
    vertical-align: middle;
}

#del_card_btn {
    background-color: transparent;
    border: none;
    color: white;
    transition: .3s;
}

#del_card_btn:hover {
    color: red;
    transition: .3s;
}

select, option {
    padding: 10px;
    min-width: fit-content;
    width: 30%;
    background-color: #333333;
    border-radius: 5px;
    color: white;
    border: none;
    transition: 0.3s;
}

option:hover {
    color: #073b4c;
    background-color: #cccccc;
    transition: 0.3s;
}

.forms {
    margin-top: 30px;
}

.form {
    margin-bottom: 10px;
    margin-left: 2%;
}

.trans_btn {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 2%;
    border: none;
    background-color: transparent;
    color: white;
    transition: .3s;
}

.trans_btn:hover {
    color: lightgreen;
    transition: .3s;
}

#tbl_head {
    font-weight: bold;
}

.profit_tbl {
    margin-left: 2%;
    margin-right: 2%;
    /* border: 3px solid #cccccc; */
    background-color: #333333;
}

.profit_tbl_row {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 1fr 1fr 1fr;
    border: 0.01px solid #0a0a0a;
}

.profit_tbl_col {
    /* text-align: center; */
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0.05px solid #0a0a0a;
}

#mulcol {
    display: grid;
    grid-template-areas: 
        "A B"
        "C D"
    ;
}

.beautiful_btn {
    width: fit-content;
    margin-left: 2%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: white;
    transition: .3s;
    text-decoration: none;
}

.beautiful_btn:hover {
    background-color: #cccccc;
    color: #333333;
    transition: .3s;
}

.card {
    width: 15vw;
    height: 85%;
    background-color: #1e1e1e;
    font-size: 15px;
    border: 1px solid #ccc;
    align-items: center;
    padding: 2vw;
    text-align: center;
    margin: 1vw;
    /* display: flex; */
}

#shops_list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* display: grid; */
}

#diver {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#params {
    width: 100%;
    background-color: #1e1e1e;
    height: 100%;
    padding: 1vw;
    border-radius: 2%;
    padding-left: 2vw;
}

#down_pad {
    margin-bottom: 1%;
}